.content-expanded {
    margin-left: 110px !important;
    transition: margin-left 0.3s ease;
}

.content-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;

    transition: all 0.3s ease;
}

main {
    display: grid;

    margin: 100px 20px 20px 300px;

    transition: all 0.3s ease;
}